################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bookify/.vs/Bookify
/Bookify/Bookify.Domain/obj
/Bookify/Bookify.Infrastructure/obj
