################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/Bookify/.vs/
/Bookify/.vs/Bookify
/Bookify/Bookify.Domain/obj
/Bookify/Bookify.Infrastructure/obj
/Bookify/Bookify.Application/obj
/Bookify/Bookify.Infrastructure/bin/Debug/net7.0
/Bookify/.vs/ProjectEvaluation/bookify.metadata.v7.bin
/Bookify/.vs/ProjectEvaluation/bookify.projects.v7.bin
/Bookify/Bookify.Application/bin/Debug/net7.0/Bookify.Application.dll
/Bookify/Bookify.Application/bin/Debug/net7.0/Bookify.Application.pdb
/Bookify/Bookify.Application/obj/Debug/net7.0/ref/Bookify.Application.dll
/Bookify/Bookify.Application/obj/Debug/net7.0/refint/Bookify.Application.dll
/Bookify/Bookify.Application/obj/Debug/net7.0/Bookify.Application.csproj.AssemblyReference.cache
/Bookify/Bookify.Application/obj/Debug/net7.0/Bookify.Application.csproj.CoreCompileInputs.cache
/Bookify/Bookify.Application/obj/Debug/net7.0/Bookify.Application.dll
/Bookify/Bookify.Application/obj/Debug/net7.0/Bookify.Application.pdb
/Bookify/Bookify.Api/obj
/Bookify/Bookify.Presentation/obj
